## Using NLP concepts in practise
### Real or Not? NLP with Disaster Tweets
Predict which Tweets are about real disasters and which ones are not <br>
https://www.kaggle.com/c/nlp-getting-started/overview

## Imports libraries

In [0]:
import pandas as pd
import numpy as np
from sklearn import feature_extraction, linear_model, model_selection, preprocessing
import urllib.request

## Loads data

In [19]:
!wget https://raw.githubusercontent.com/AlicjaDobrzeniecka/NLP-chatbot/master/nlp-kaggle/train.csv
!wget https://raw.githubusercontent.com/AlicjaDobrzeniecka/NLP-chatbot/master/nlp-kaggle/test.csv

--2020-01-08 18:04:18--  https://raw.githubusercontent.com/AlicjaDobrzeniecka/NLP-chatbot/master/nlp-kaggle/train.csv
Resolving raw.githubusercontent.com (raw.githubusercontent.com)... 151.101.0.133, 151.101.64.133, 151.101.128.133, ...
Connecting to raw.githubusercontent.com (raw.githubusercontent.com)|151.101.0.133|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 987712 (965K) [text/plain]
Saving to: ‘train.csv.1’

train.csv.1         100%[===================>] 964.56K  --.-KB/s    in 0.04s

2020-01-08 18:04:18 (22.0 MB/s) - ‘train.csv.1’ saved [987712/987712]

--2020-01-08 18:04:20--  https://raw.githubusercontent.com/AlicjaDobrzeniecka/NLP-chatbot/master/nlp-kaggle/test.csv
Resolving raw.githubusercontent.com (raw.githubusercontent.com)... 151.101.0.133, 151.101.64.133, 151.101.128.133, ...
Connecting to raw.githubusercontent.com (raw.githubusercontent.com)|151.101.0.133|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 420783 (411K) [text/plain]
Saving to: ‘test.csv’

test.csv            100%[===================>] 410.92K  --.-KB/s    in 0.03s

2020-01-08 18:04:20 (13.3 MB/s) - ‘test.csv’ saved [420783/420783]

In [0]:
train_df = pd.read_csv('train.csv')
test_df = pd.read_csv('test.csv')

## Shows data

In [24]:
train_df.head()

   id keyword  ...                                               text target
0   1     NaN  ...  Our Deeds are the Reason of this #earthquake M...      1
1   4     NaN  ...             Forest fire near La Ronge Sask. Canada      1
2   5     NaN  ...  All residents asked to 'shelter in place' are ...      1
3   6     NaN  ...  13,000 people receive #wildfires evacuation or...      1
4   7     NaN  ...  Just got sent this photo from Ruby #Alaska as ...      1

[5 rows x 5 columns]

In [25]:
test_df.head()

   id keyword location                                               text
0   0     NaN      NaN                 Just happened a terrible car crash
1   2     NaN      NaN  Heard about #earthquake is different cities, s...
2   3     NaN      NaN  there is a forest fire at spot pond, geese are...
3   9     NaN      NaN           Apocalypse lighting. #Spokane #wildfires
4  11     NaN      NaN      Typhoon Soudelor kills 28 in China and Taiwan

## Chooses tweet that is not about disaster event (target value == 0)

In [26]:
train_df[train_df["target"] == 0]["text"].values[0]

"What's up man?"

## Chooses tweet about disaster event (target value == 1)

In [27]:
train_df[train_df["target"] == 1]["text"].values[0]

'Our Deeds are the Reason of this #earthquake May ALLAH Forgive us all'